@model ProyectoRH_Pertec.Models.Templeado

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enombre)
        </dd>

        <dt>
            @Html.DisplayName("Primer apellido: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eapellido)
        </dd>

        <dt>
            @Html.DisplayName("Segundo apellido: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eapellido2)
        </dd>

        <dt>
            @Html.DisplayName("Número de teléfono: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etelefono)
        </dd>

        <dt>
            @Html.DisplayName("Correo electrónico: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ecorreo)
        </dd>

        <dt>
            @Html.DisplayName("Puesto: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tpuesto.Pnombre)
        </dd>

        <dt>
            @Html.DisplayName("Motivo de egreso: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempresafecha.IEmotivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EempleadoID }) |
    @Html.ActionLink("Regresar a empleados", "Index")
</p>
