@model ProyectoRH_Pertec.Models.Tempresafecha

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ViewBag.Title</h2>

<h3>¿Confirma que desea eliminarlo?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha de ingreso: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEfechaingreso)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de engreso: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEfechaegreso)
        </dd>

        <dt>
            @Html.DisplayName("Motivo de egreso: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEmotivo)
        </dd>

        <dt>
            @Html.DisplayName("Número de cédula: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templeado.EempleadoID)
        </dd>
        <dt>
            @Html.DisplayName("Nombre: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templeado.Enombre)
        </dd>
        <dt>
            @Html.DisplayName("Apellido: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templeado.Eapellido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-default" /> |
    @Html.ActionLink("Regresar al control de empleados", "Index")
</div>
    }
</div>
