@model ProyectoRH_Pertec.Models.Tempresafecha

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tempresafecha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IEfechaingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEfechaingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEfechaegreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEfechaegreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEmotivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEmotivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Templeado.Enombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templeado.Enombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IEempleadoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
