@model ProyectoRH_Pertec.Models.Tpuestofecha

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tpuestofecha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PEpuestoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEpuestoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEfechainicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEfechainicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEfechafin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEfechafin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Templeado.Enombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templeado.Enombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
